In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./sample.xlsx')
df

      A    B    C    D
0     0    s    3    2
1     2    3    3    *
2   2.5    5    3    6
3     4    4    1    7
4   a.8    4   44   70
5     3   23  a.*  NaN
6    25    5    5    3
7     2    4    1   32
8     3    6    6    4
9    67    2    3    4
10  345  432   43   24

In [8]:
df[df['A'].apply(lambda x: isinstance(x, int) or isinstance(x, float)) == False]

     A  B   C   D
4  a.8  4  44  70